<div id="user-profile" class="container mx-auto content-padding">
  <h2>User: <span id="username"><%= user.username %></span></h2>
  <img id="user-photo" src="<%= user.photo %>" alt="Profile Picture" class="w-32 h-32 rounded-full" />
  <h3>Your Images</h3>
  <div id="personal-image-list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <!-- Load user's personal images dynamically -->
  </div>
</div>
